**/.DS_Store
**/__pycache__
approx_asy/
azadi_drummond_analysis/
catpars.py
comp_LFF.py
deprec/
fit_optpars.nb
lsda_refit.py
UEG_EOS.py
UEG_rs_Taylor.pdf
UEG_spin_Taylor.pdf
PW92_refit/
PW92_refit.py
min_rs.csv
optfit_plus.py
plot_grad_corr.py
new_Gplus_data
plot_new_Gplus.py
**/*.nb
data_files/LFFs_rs_*.csv
data_files/LFF_summary.xlsx
